<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<appSettings>
		<add key="comparer" value="C:\Program Files\KDiff3\kdiff3.exe"/>
		<!--<add key="comparer" value="C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\vsDiffMerge.exe"/>-->
	</appSettings>
</configuration>
